blinker==1.8.2
cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
choreographer==1.0.9
click==8.1.8
flask==3.0.3
google-api-core==2.25.1
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.10
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.6
kaleido==1.0.0
logistro==1.1.0
markdown-it-py==3.0.0
markdown-pdf==1.7
MarkupSafe==2.1.5
mdurl==0.1.2
narwhals==1.42.1
numpy==1.24.4
oauthlib==3.2.2
orjson==3.10.15
packaging==25.0
pandas==2.0.3
plotly==6.2.0
proto-plus==1.26.1
protobuf==5.29.5
pyasn1==0.6.1
pyasn1-modules==0.4.2
PyMuPDF==1.24.6
PyMuPDFb==1.24.6
pyparsing==3.1.4
pypdf==5.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
simplejson==3.20.1
six==1.17.0
typing-extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.2.3
werkzeug==3.0.6
zipp==3.20.2
